# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=anvelopeplus
DATABASE_URL=postgres://postgres:postgres@localhost:5432/anvelopeplus

# Meilisearch
MEILI_MASTER_KEY=masterKey

# NestJS
API_PORT=3000

# Strapi
STRAPI_ADMIN_JWT_SECRET=supersecret
STRAPI_APP_KEYS=key1,key2

